*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
  padding-bottom: 200px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

img {
  transition: background-image 0.2s ease-in-out;
}

.text-center {
  text-align: center;
}

.title {
  padding: 20px 0;
  color: #afafaf;
  text-shadow: 3px 3px 4px #000;
  border-bottom: 1px solid #fff;
}

.slider {
  width: 50%;
  border: 1px solid #efefef;
  margin: 100px auto;
}

.slide {
  background: url("images/img1.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  position: relative;
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slide-title {
  padding: 10px 0;
  color: #afafaf;
  text-shadow: 3px 3px 4px #000;
}

.dir-btn {
  color: #000;
  font-size: 60px;
  width: 40px;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  transform: translate(0, -50%);
}

.dir-btn:hover {
  background: rgba(255, 255, 255, .2);
}

.left-btn {
  position: absolute;
  top: 50%;
  left: 10px;
}

.right-btn {
  position: absolute;
  top: 50%;
  right: 10px;

}

.pick-slides {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  bottom: 80px;
  font-size: 0; /* remove that weird white space between buttons */
  overflow: hidden /* hide too many images */
}

.pick-slide {
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
}

.active {
  background: #1f1f1f;
}

.description {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  color: #000;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 500px) {
  .slider {
    width: 90%;
  }

  .slide {
    height: 400px;
  }
}